{
  "printWidth": 100,
  "bracketSpacing": true,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "ignore"
}
