@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@layer base {
  svg {
    display: inline;
  }
}
